html {
    overflow: hidden;
}

body {
    overflow: hidden;
    background-color: #0d1117;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Mona Sans', sans-serif;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(54, auto);
    grid-auto-rows: minmax(20px, auto);
    gap: 6px 6px;
    max-width: 1650px;
    cursor: default;
}

.cell, .color-cell {
    width: 20px;
    height: 20px;
    background-color: #151b23;
    border: solid;
    border-width: 2px;
    border-color: #292f37;
    border-radius: 5px;
}

#colorPalette {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 6px;
    margin-top: 25px;
    margin-left: 1200px;
    align-items: center;
}

.color-cell.selected {
    width: 30px;
    height: 30px
}

#buttonContainer {
    display: flex;
}

button {
    background-color: #0d1117;
    border: none;
    color: grey;
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

button:hover {
    color: #1a73e8;
}

#yearInput {
    background-color: #0d1117;
    color: grey;
    border: none;
    font-size: 40px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputField {
  position: relative;
  display: inline-block;
  right: 700px;
  top: -60px;
}

.arrowButtons {
  position: absolute;
  right: 10px;
  top: -15px;
  width: 20px;
  display: flex;
  flex-direction: column;
}

.arrow-up, .arrow-down {
  border: none;
  background: grey;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-up:hover, .arrow-down:hover {
  background: #1a73e8;
}

.inactive {
  opacity: 0;
}

#xy, #date {
  color: grey;
  font-size: 30px;
  position: relative;
}
